<% title ||= "Listing submission reviews" %>
<% table_id ||= "submissionReviewsTable" %>
<% submission_reviews ||= nil %>
<% include_files ||= false %>
<% speed_display ||= false %>
<% include_competition ||= false %>

<% if submission_reviews.blank? %>

<% else %>
  <p style="margin-top: 1em; float:right;">
  <% unless controller.action_name =~ /with_files/ %>
    <% if controller.action_name =~ /index/ %>
      <%= link_to("List with files", index_with_files_project_reviewers_url(submission_reviews[0].submission.project_id)) %>
    <% else %>
      <%= link_to("List with files", complete_listing_with_files_project_reviewers_url(submission_reviews[0].submission.project_id)) %>
    <% end %>
  <% else %>
    <% if controller.action_name =~ /index/ %>
      <%= link_to("List without files", project_reviewers_url(submission_reviews[0].submission.project_id)) %>
    <% else %>
      <%= link_to("List without files", complete_listing_project_reviewers_url(submission_reviews[0].submission.project_id)) %>
  <% end %>
<% end  %>
</p>
<h3><%= title %></h3>

<table id="<%= table_id -%>" class="tablesorter { sortList: [[2,0]] }">
  <thead>
  <tr>
    <th>Applicant</th>
    <th>Project title</th>
  <% if include_competition -%>
    <th>Sponsor</th>
    <th>Competition</th>
  <% end -%>
  <% if include_files -%>
    <th>Summary</th>
  <% end -%>
    <th>Reviewer(s)</th>
    <th>Review Form</th>
    <th>Composite</th>
    <th>Overall Score</th>
  <% if include_files -%>
    <th>Complete</th>
    <th>Files</th>
    <th>More</th>
  <% end -%>
  </tr>
</thead>
<tbody>
<% last_review = nil %>
<% submission_reviews.each do |review| %>
<% unless is_admin? or last_review == nil %>
  <% if last_review.submission.applicant_id == review.submission.applicant_id %>
  <% unless review.reviewer_id == current_user_session.id %>
    <% next unless current_project.show_composite_scores_to_reviewers %>
    <% next if review.has_zero? %>
  <% end %>
  <% end %>
<% end %>

<% last_review = review %>

<% style="" %>
<% style="style='background-color:thistle;'" if review.has_zero? %>
  <tr <%= style %>>
    <td><%=h review.submission.applicant.sort_name %></td>
    <td><%=h review.submission.submission_title %></td>
  <% if include_competition -%>
    <td><%=h review.submission.project.program.program_title %></td>
    <td><%=h review.submission.project.project_title %></td>
  <% end -%>
  <% if include_files -%>
    <td>
      <%= link_to('Reviews', submission_reviews_path(review.submission.id)) if review.submission.submission_reviews.collect{|r| r.has_zero? ? 0 : 1 }.sum > 0 %>
    </td>
  <% end -%>
    <td><%=h review.reviewer.sort_name if is_admin?(review.submission.project.program) or review.reviewer_id == current_user_session.id  %></td>
    <td><%= link_to 'Review Form',  edit_project_reviewer_path(:project_id=>review.submission.project_id,:id=>review.id) if is_admin?(review.submission.project.program) or review.reviewer_id == current_user_session.id %> &nbsp; &nbsp;</td>
    <td <%= style %>><%= review.composite_score if is_admin?(review.submission.project.program) or review.reviewer_id == current_user_session.id or current_project.show_composite_scores_to_reviewers %></td>
    <td <%= style %>><%= review.overall_score if is_admin?(review.submission.project.program) or review.reviewer_id == current_user_session.id or current_project.show_composite_scores_to_reviewers %></td>
  <% if include_files -%>
    <td <%= style %>>
      <%= review.count_nonzeros? != review.submission.project.count_review_criteria? ? 'No' : 'Yes' %>
    </td>
    <td>
      <%= link_to_submission_pdf(review.submission).html_safe %>
      <br />
      <% link_to_submission_files(review.submission, review.submission.project, !speed_display).each do |lnk| %>
        <% unless lnk.blank? %>
          <%= lnk.html_safe %>
          <br/>
        <% end %>
      <% end %>
    </td>
    <td>
     <%= link_to_key_personnel_documents(review.submission.key_people, !speed_display).html_safe %>
   </td>
  <% end -%>
   </tr>
<% end %>
</tbody>
</table>
<%= javascript_tag do %>
  jQuery(document).ready(function() {
    // call the tablesorter plugin
    jQuery("#<%= table_id -%>").tablesorter(
      // turn off sorting on the 6th header
      { headers: { 6: {sorter: false}, 7: {sorter: false}, 8: {sorter: false} } }
    ); });
<% end %>

<br />
<% end %>
