<% provide(:title_tag, "Reviewer Form: #{truncate(@submission_review.submission.submission_title, length: 10)}") %>
<h2>
  Reviewer Form for the application
  '<i><%= @submission_review.submission.submission_title %></i>'
  submitted by <i><%= @submission_review.submission.applicant.name %></i>
</h2>

<%= render 'review_guidance' if @project.try(:show_review_guidance) %>
<%= @project.try(:custom_review_guidance).html_safe if @project.try(:custom_review_guidance) %>

<%= form_for(:submission_review,
             url: project_reviewer_path(project_id: @submission_review.submission.project_id, id: @submission_review.id),
             html: { method: :put, id: 'submission_review_form' }) do |f| %>
  <%= render 'review_form', :f => f, :submission_review => @submission_review %>
  <%= f.submit('Save/Update Scores') %>
<% end %>

<p>
  You will be able to change your scores and written critique at any time until the review period is over.
</p>

<script>
  jQuery.extend(jQuery.validator.messages, { digits: "Please enter a whole number." });
  jQuery('#submission_review_form').validate();
</script>
