/ pulled from shared_navigation.haml
- unless @project.blank? || @project.id.blank?
  - if current_user.submission_reviews.length > 0
    %li
      = link_to "Assigned Reviews", project_reviewers_path(@project.id)
    %li
      = link_to "Assigned Reviews with files", index_with_files_project_reviewers_path(@project.id)
    %li
      = link_to "Assigned Reviews and all proposals", complete_listing_project_reviewers_path(@project.id)
    %li
      = link_to "Assigned Reviews and all proposals with files", complete_listing_with_files_project_reviewers_path(@project.id)
  - unless current_user.submission_reviews.blank?
    %li
      = link_to "All your reviews", all_reviews_project_reviewers_path(@project.id)
