<% provide(:title_tag, 'Re-send Confirmation Instructions') %>
<h2>Re-send Confirmation Instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div id="login_fields">
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.submit "Re-send confirmation instructions" %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
