%ul.assigned_submission_list
  - reviewer.submission_reviews.this_project(project.id).includes(submission: :applicant).order("#{User.table_name}.last_name, #{User.table_name}.first_name").each do |item|
    %li.assigned_submission{id: "submission_review_#{item.id}"}
      = "#{item.applicant.last_name}, #{item.applicant.first_name}: #{truncate_words(item.submission_title, 50)}"

:javascript
  jQuery('.assigned_submission').draggable({ 
    revert: "invalid" 
  });
  jQuery('.assigned_submission_list').droppable({
    hoverClass: 'hover',
    drop: function(event, ui) {
      reviewerID = jQuery(this).parent().attr('id').split('_').splice(-1)[0];
      submissionID = jQuery(ui.draggable).attr('id').split('_').slice(-1)[0];

      jQuery.ajax({
        type: "POST",
        url: '/projects/' + "#{@project.id}" + '/admins/' + reviewerID + '/assign_submission.js',
        data: { "submission_id": submissionID },
        success: function(data) {
          window.location.href = '/projects/' + #{@project.id} + '/admins/reviewers';
        }
      });
    }
  });
