<%= form_for @search, url: submission_search_project_admins_path(@project), method: :get do |f| %>
  <fieldset>
    <%= f.label :submission_status %>
    <%= f.select :submission_status, Submission::STATUSES, include_blank: true %>
  </fieldset>

  <fieldset>
    <%= f.label :project_id %>
    <%= f.select :project_id, projects_collection, include_blank: true %>
  </fieldset>

  <button type='reset'>Clear</button>
  <%= f.submit 'Search' %>
<% end %>