<div class="bottom_border">
  <h3>
    <%= "Reviews for #{@project.project_title}" %>
  </h3>
</div>

<div id='tabs'>
  <ul>
    <li><a href="#score_summary">Score Summary</a></li>
    <li><a href="#all_reviewed_submissions">Full Summary</a></li>
    <li><a href="#all_reviews">All Reviews</a></li>
  </ul>

  <div id='score_summary'>
    <% unless @project.submissions.blank? || @project.blank? %>
      <h3>Submissions</h3>
      <table id="submissionTable" class="tablesorter { sortList: [[2,0]] }">
        <thead>
          <tr>
            <th>Applicant</th>
            <th>Title</th>
            <th>Composite Scores</th>
            <th>Overall Scores</th>
          </tr>
        </thead>
        <tbody>
          <% @project.submissions.each_with_index do |submission, i | %>
            <tr>
              <td><%= submission.applicant.sort_name %></td>
              <td><%= link_to( truncate_words(submission.submission_title, 20), submission_path(submission.id) ) %></td>
             <td><%= link_to( submission.composite_scores_string, submission_reviews_path(submission.id) ) %></td>
             <td><%= link_to( submission.overall_scores_string, submission_reviews_path(submission.id) ) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div id='all_reviewed_submissions'>
    <% submission_reviews = @project.submission_reviews.all %>
    <% submission_reviews_title ||= "Complete List of Assigned Proposals for This Competition" %>
    <% include_competition ||= false %>
    <% include_files ||= true %>
    <% speed_display ||= false %>
    <%= render('admins/complete_reviews_with_files',
           :submission_reviews => submission_reviews,
           :title => submission_reviews_title,
           :table_id => 'all_submission_reviews',
           :include_competition => include_competition,
           :include_files => include_files,
           :speed_display => speed_display) %>
  </div>

  <div id='all_reviews'>
    <% @project.submissions.each do |submission| %>
      <%= render('reviews/index', reviews: submission.submission_reviews, submission: submission) %>
      <p style="page-break-before: always" /> 
    <% end %>
  </div>

</div>

<script>
  jQuery(function() {
    jQuery( "#tabs" ).tabs();
  });
</script>