<h3>Account Lookup</h3>
<p>First, check to see if the reviewer already has an account.</p>
<p>Or search the <%= link_to 'Northwestern University Directory.', NucatsAssist.ldap_url, target: '_blank' %></p>

<div class="search-form">
  <%= form_tag (user_lookup_project_admins_url) do %>
    <div class="search-param">
      <%= text_field_tag :first_name, params[:first_name], placeholder: 'First Name' %>
    </div>
    <div class="search-param">
      <%= text_field_tag :last_name, params[:last_name], placeholder: 'Last Name' %>
    </div>
    <div class="search-param">
      <%= text_field_tag :email, params[:email], placeholder: 'E-mail' %>
    </div>
    <div class="search-button">
      <%= submit_tag 'Search Accounts' %>
    </div>
    <div>
      <%= link_to "Return to reviewers for #{@project.project_title}.", reviewers_project_admins_path %><br />
    </div>
  <% end %>
</div>

<div class="search-results">
<%- if @results.blank? && @ldap_results.blank? %>
  <div class="no-results, indented"">
    <h5>
      <p>No results matched your search criteria.</p>
      <p>Please ask your reviewer to sign into the system to create an account.</p>
    </h5>
  </div>

<%# TODO split the formatting of the results into a form. %>
<%- else %>
  <div>
    <h4>Search Results</h4>
  </div>
  <%- if @results.present? %>
    <%- @results.each do |result| %>
      <dl class="search-result, indented"">
        <dt class="result-data">
          Name:
        </dt>
        <dd class="result-data">
          <%= blank_safe(result.name) %>
        </dd>
        <dt class="result-data">
          Username:
        </dt>
        <dd class="result-data">
          <%= blank_safe(result.username) %>
        </dd>
        <dt class="result-data">
          Email:
        </dt>
        <dd class="result-data">
          <%- if result.email.blank? %>
            <%= blank_safe(result.email) %>
          <%- else %>
            <%= mail_to result.email %>
          <% end %>
        </dd>
        <dd>
          <%= link_to '<button type="button">Add Reviewer</button>'.html_safe, reviewers_project_admins_path(project: @project.id, reviewer_list: result.username) %>
        </dd>
      </dl>
    <% end %>
  <%- else %>
    <div class="no-results, indented"">
      <h5>
        <p>No results matched your search criteria for user in NITRO Competitions</p>
      </h5>
    </div>
  <% end %>
  

<% end %>
</div>
