%h3 Account Lookup
%p 
  First, check to see if the reviewer already has an account. 
%p 
  Or search the 
  = link_to 'Northwestern University Directory.', NucatsAssist.ldap_url, target: '_blank'

.search-form
  = form_tag ('/admins/user_lookup') do 
    .search-param
      = text_field_tag :first_name, params[:first_name], placeholder: 'First Name'
    .search-param
      = text_field_tag :last_name, params[:last_name], placeholder: 'Last Name'
    .search-param
      = text_field_tag :email, params[:email], placeholder: 'E-mail'
    .search-button
      = submit_tag 'Search Accounts'

.search-results
  - if @results
    - if @results.blank?
      .no-results
        %h5
          No results matched your search criteria.
        %h5
          Add a new user account.

        %p
          = form_for(User.new, url: '/users/create_user', method: :post) do |f|
            =render('shared/error_messages', object: f.object) if f.object && !f.object.try(:errors).blank?

            = render('/users/form_fields', f: f)
        %p 
          = link_to 'Back', reviewers_project_admins_path(current_project)


    - else
      - @results.each do |result|
        %dl.search-result
          %dt.result-data
            Name: 
          %dd.result-data
            = blank_safe(result.name)
          %dt.result-data
            Username: 
          %dd.result-data
            = blank_safe(result.username)
          %dt.result-data
            Email: 
          %dd.result-data
            - if result.email.blank?
              = blank_safe(result.email)
            - else
              = mail_to result.email 
  / - else
  /   Please enter search criteria.