<%= form_for(resource, :as => resource_name, :url => user_northwestern_medicine_omniauth_callback_path, :method => :post,
  :html => { :id => "login", :autocomplete => "off" }) do |f| %>
  <!-- Northwestern Login Form -->
  <%= hidden_field_tag :domain, 'nu' %>

  <div id="login_fields">
    <div class="instructional_note">
      <%= t('login.domain_instructions') %>
    </div>
    <div class="field">
      <label for="domain_view">Domain: </label>
      <span id="domain_view">Northwestern University</span>
    </div>
    <div>
      <%= label_tag :username, t('login.username') %>
      <%= text_field_tag :username, '', :placeholder => 'NU NetID' %>
    </div>
    <div>
      <%= label_tag :password, t('login.password') %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me, t('login.remember_me'), {:class => 'check_box'} %>
    </div>
    <div class="buttons">
      <%= submit_tag button_text %>
      <%# = submit_tag button_text, :disabled => true, :class => 'disabled_button' %>
    </div>
  </div>
<% end %>
