- page_title t('login.sign_in'), false
- button_text ||= t('login.sign_in')
%ul#domain_choices.domains
  %li
    = radio_button_tag "organization", "nu", true
    = label_tag "organization_nu", t('login.northwestern_medicine')
  #username_nu.domain_options.show
    - Identity.northwestern_domains.each do |domain|
      = render 'users/nu_provider', domain: domain
    = render 'devise/shared/form', button_text: button_text
  %li
    = radio_button_tag "organization", "not_nu", false
    = label_tag "organization_not_nu", t('login.not_northwestern')
  #username_not_nu.domain_options.hide
    .user_assistance
      = t('login.external_authentication_instructions').html_safe
    - Identity.external_providers.each do |provider|
      = render 'users/auth_provider', provider: provider
