<%- button_text ||= t('login.sign_in') %>
<ul id="domain_choices" class="domains">
  <li>
    <%= radio_button_tag "organization", "nu", true %>
    <%= label_tag "organization_nu", t('login.northwestern_medicine') %>
  </li>
  <div id="username_nu" class="domain_options" style="display: block;">
    <%- Identity.northwestern_domains.each do |domain| %>
      <%= render 'users/nu_provider', domain: domain %>
    <% end %>
    <%= render 'devise/shared/form', button_text: button_text %>
  </div>
  <li>
    <%= radio_button_tag "organization", "not_nu", false %>
    <%= label_tag "organization_not_nu", t('login.not_northwestern') %>
  </li>
  <div id="username_not_nu" class="domain_options" style="display: none;">
    <div class="user_assistance">
      <%= t('login.external_authentication_instructions').html_safe %>
    </div>
    <%- Identity.external_providers.each do |provider| %>
      <%= render 'users/auth_provider', provider: provider %>
    <% end %>
    </div>
  </div>
</ul>
