%table{cellpadding: '10px', cellspacing: '10px'}
  - if f.object && !f.object.try(:errors).blank?
    %tr
      %td{colspan: '2'}
        = render('shared/error_messages', object: f.object)

  %tr
    %td{colspan: '2'}
      %h3 Contact

  %tr
    %td
      = f.text_field :email, {required: true, size: 60}
    %td
      = f.label :email, 'Email'

  %tr
    %td
      = f.text_field :business_phone, {size: 60}
    %td
      = f.label :business_phone, 'Phone'

  %tr
    %td{colspan: '2'}
      %h3 Name

  %tr
    %td
      = f.text_field :title, {placeholder: 'Academic title', size: 60}
    %td
      = f.label :title, 'Professor, Associate Professor, etc.'

  %tr
    %td
      = f.text_field :first_name, {required: true, placeholder: 'First name', size: 60}
    %td
      = f.label :first_name, 'First name'

  %tr
    %td
      = f.text_field :last_name, {required: true, placeholder: 'Last name', size: 60}
    %td
      = f.label :last_name, 'Last name'

  %tr
    %td
      %h3 Mailing addresses

  %tr
    %td
      = f.text_field :campus, {size: 60}
    %td
      = f.label :campus, 'Campus name'

  %tr
    %td
      = f.text_area :campus_address, {rows: 4, cols: 60}
    %td
      = f.label :campus_address, 'On-campus mailing address'

  %tr
    %td
      = f.text_area :address, {rows: 4, cols: 60}
    %td
      = f.label :address, 'Off-campus address (if applicable)'

  %tr
    %td
      = f.text_field :city, {placeholder: 'City', size: 60}
      %br
      = f.text_field :state, {placeholder: 'State', size: 2}
      &nbsp;
      = f.text_field :postal_code, {placeholder: 'Postal code', size: 12}
    %td
      = f.label :city, 'City, State, ZIP'

  %tr
    %td
      = f.text_field :country, {placeholder: 'Country'}
    %td
      = f.label :country

  %tr
    %td{colspan: '2'}
      %h3 Research and credentials

  %tr
    %td
      = f.text_field :era_commons_name, {required: true, placeholder: 'eRA Commons name', size: 60}
      %br
      %br
    %td
      %strong
        eRA Commons registration is required.
      = link_to 'More information here.', NucatsAssist.era_commons_name_url, target: '_blank'

  %tr
    %td
      = f.text_field :degrees, {placeholder: 'Advanced degrees', size: 60}
    %td
      = f.label :degrees, 'PhD, MD, etc.'

  %tr
    %td
      = f.text_area :primary_department, {placeholder: 'Primary department', rows: 4, cols: 60}
    %td
      = f.label :primary_department, 'The university unit that holds your primary appointment.'

  %tr
    %td
      = f.file_field('uploaded_biosketch')
      - unless applicant.biosketch_document_id.blank?
        %br
        %br
        %em
          = link_to_file(applicant.biosketch_document_id, "#{applicant.biosketch.file_file_name}").html_safe
          = "updated on #{(applicant.biosketch.last_updated_at || applicant.biosketch.updated_at).to_date.to_s(:justdate)}"
    %td
      = f.label :uploaded_biosketch, 'Default biosketch document'
      %br
      %br
      Should be uploaded in <b>MS Word or PDF format</b>
      %br
      %br
      Your default biosketch document will be used as the biosketch for applications where you are named as key personnel
      (<em>not</em> as PI) and as the default biosketch for any new proposals you submit.
      You can customize your biosketch for each proposal in the 'manage documents' form once you have created the proposal submission.

  %tr
    %td{colspan: '3', align: 'center', style: 'background:#ADE387;padding:10px;'}
      = f.submit('Update')

  %script{type: "text/javascript"}
    jQuery('#applicant_form').validate();
