<p>
  <%= f.label :first_name, "PI first name"  %>
  <%= f.text_field :first_name %> 
</p>
<p>
  <%= f.label :last_name, "PI last name"  %>
  <%= f.text_field :last_name %> 
</p>
<p>
  <%= f.label :email, "PI email"  %>
  <%= f.text_field :email %> 
</p>
