- pronoun = "your"
- pronoun = "the" if current_user_session.try(:username) != applicant.username

- completion = ""
- completion = " for #{applicant.name}" if current_user_session.try(:username) != applicant.username
- ldap_name = [applicant.name, applicant.name_suffix].compact.join(",")

- if f.object && !f.object.try(:errors).blank?
  %tr
    %td{:colspan=>"2"}
      = render('shared/error_messages', object: f.object)
%tr
  %td.title
    = f.label :name, "name"
  %td
    = f.hidden_field :username
    = f.hidden_field :first_name
    = f.hidden_field :middle_name
    = f.hidden_field :last_name
    = ldap_name.blank? ? "<span style='color:red;'>username not found in ldap</span>" : ldap_name
    - if ldap_name.blank?
      %br
      = link_to('Add info for external people', '', onclick: visual_effect(:appear, 'applicant_fields', duration: 0.5) + ";return false;" )

%tr
  %td.title
    email
  %td
    = applicant.email

%tr
  %td{:colspan=>"2"}
    - hidden_div_if(true, id: "applicant_fields") do
      = render("applicant_fields", f: f, applicant: applicant)

%tr
  %td.title
    = f.label :era_commons_name, "eRA Commons"
  %td
    = f.text_field :era_commons_name, required: true
    %br
    %br
    = "This is #{pronoun} NIH eRA Commons name#{completion}."
    %strong eRA Commons registration is required.
    %br
    More information at
    = link_to NucatsAssist.era_commons_name_url, NucatsAssist.era_commons_name_url, target: "_blank"

%tr
  %td.title
    = f.label :degrees, "Degree(s)"
  %td
    = f.text_field :degrees
    %br
    %br
    = "#{pronoun.capitalize} advanced degrees such as PhD or MD#{completion}."
    Use a comma to separate multiple degrees.

%tr
  %td.title
    = f.label :business_phone, "Contact phone"
  %td
    = f.text_field :business_phone

%tr
  %td.title
    = f.label :title, "Title"
  %td
    = f.text_field :title
    %br
    %br
    = "#{pronoun.capitalize} faculty rank (Professor, Associate Professor, etc)#{completion}."

%tr
  %td.title
    = f.label :primary_department
  %td
    = f.text_area :primary_department, {rows: 4, cols: 40, wrap: "virtual"}
    %br
    %br
    = "The University unit that holds #{pronoun} primary appointment#{completion}."

%tr
  %td.title
    = f.label :campus
  %td
    = f.text_field :campus

%tr
  %td.title
    = f.label :campus_address, "campus mailing address#{completion}"
  %td
    = f.text_area :campus_address, {rows: 4, cols: 40, wrap: "virtual"}

%tr
  %td
    = f.label :uploaded_biosketch, "Biosketch Document"
  %td
    = f.file_field("uploaded_biosketch")
    - unless applicant.biosketch_document_id.blank?
      %em
        = link_to_file(applicant.biosketch_document_id, "#{applicant.biosketch.file_file_name}").html_safe
        = "updated on #{(applicant.biosketch.last_updated_at || applicant.biosketch.updated_at).to_date.to_s(:justdate)}"
    %br
    %br
    Biosketch should be in <b>MS Word or PDF format</b>
    %br
    %br
    This is your default biosketch.
    %br
    %br
    It will be used as the biosketch for applications where you are named as key personnel
    (<em>not</em> as PI) and as the default biosketch for any new proposals you submit.
    You can customize your biosketch for each proposal in the 'manage documents' form once you have created the proposal submission.

%tr
  %td.title{:colspan=>"2", :style=>"background:#ADE387;"}
    Off-campus business address, if you have one

%tr
  %td.title
    = f.label :address
  %td
    = f.text_area :address, {rows: 4, cols: 40, wrap: "virtual"}

%tr
  %td.title
    = f.label :city, "City, State"
  %td
    = f.text_field :city, size: 20
    &nbsp;
    = f.text_field :state, size: 2
    &nbsp;
    = f.text_field :postal_code, size: 4

%tr
  %td.title
    = f.label :country
  %td
    = f.text_field :country

%script{:type=>"text/javascript"}
  jQuery('#applicant_form').validate();
