- if f.object && !f.object.try(:errors).blank?
  = render('shared/error_messages', object: f.object)

%h3 Contact
.form-group
  = f.label :email, 'Email', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :email, {required: true, class: 'form-control'}

.form-group
  = f.label :business_phone, 'Phone', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :business_phone, {placeholder: 'phone', class: 'form-control'}

%br
%h3 Name
.form-group
  = f.label :title, 'Academic title', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :title, {placeholder: 'Professor, Associate Professor, etc.', class: 'form-control'}

.form-group
  = f.label :first_name, 'First name', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :first_name, {required: true, placeholder: 'First name', class: 'form-control'}

.form-group
  = f.label :last_name, 'Last name', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :last_name, {required: true, placeholder: 'Last name', class: 'form-control'}

%br
%h3 On-campus mailing address
.form-group
  = f.label :campus, 'Campus', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :campus, {placeholder: 'campus name', class: 'form-control'}

.form-group
  = f.label :campus_address, 'Address', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_area :campus_address, {placeholder: 'address', class: 'form-control', rows: 5}

%br
%h3 Off-campus mailing address (if you have one)
.form-group
  = f.label :address, 'Address', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_area :address, {placeholder: 'address', class: 'form-control', rows: 5}

.form-group
  = f.label :city, {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :city, {placeholder: 'City', class: 'form-control'}

.form-group
  = f.label :state, {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :state, {placeholder: 'State', class: 'form-control'}

.form-group
  = f.label :postal_code, 'ZIP', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :postal_code, {placeholder: 'Postal code', class: 'form-control'}

.form-group
  = f.label :country, {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :country, {placeholder: 'Country', class: 'form-control'}

%br
%h3 Research and credentials
.form-group
  .col-xs-4
    %strong eRA Commons registration is required.
    = link_to 'More information here.', NucatsAssist.era_commons_name_url, target: '_blank'
  .col-xs-8
    = f.text_field :era_commons_name, {required: true, placeholder: 'eRA Commons name', class: 'form-control'}

.form-group
  = f.label :degrees, 'Advanced degrees', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_field :degrees, {placeholder: 'PhD, MD, etc.', class: 'form-control'}

.form-group
  = f.label :primary_department, 'Primary department', {class: 'col-xs-4 control-label'}
  .col-xs-8
    = f.text_area :primary_department, {placeholder: 'The university unit that holds your primary appointment.', class: 'form-control', rows: 3}

.form-group
  .col-xs-4
    = f.label :uploaded_biosketch, 'Default biosketch document'
    %br
    %br
    This should be uploaded in <b>MS Word or PDF format</b>.
    %br
    %br
    Your default biosketch document will be used as the biosketch for applications where you are named as key personnel
    (<em>not</em> as PI) and as the default biosketch for any new proposals you submit.
    You can customize your biosketch for each proposal in the 'manage documents' form once you have created the proposal submission.
  .col-xs-8
    = f.file_field('uploaded_biosketch', class: 'form-control')
    - unless applicant.biosketch_document_id.blank?
      %br
      %br
      %em
        = link_to_file(applicant.biosketch_document_id, "#{applicant.biosketch.file_file_name}").html_safe
        = "updated on #{(applicant.biosketch.last_updated_at || applicant.biosketch.updated_at).to_date.to_s(:justdate)}"

.form-group
  = f.submit('Update', {class: 'form-control btn btn-default btn-info'})

  %script{type: "text/javascript"}
    jQuery('#applicant_form').validate();
