<span style="float:right; padding: 6px; border:1px solid indigo;">
  You will only need to complete this page once <br />but can edit it at any time
</span>

<h2>Application Process - Step 1</h2>
<h3>
  Please enter or review the following Investigator Profile information for this application.
  You will be able to reassign the applicant if necessary
</h3>

<table  class="lined">
  <%= form_tag(new_project_applicant_path(:project_id=>params[:project_id]), :method => :get, :id=>"username_form") do %>
    <tr>
      <td class="title">PI NU NetID</td>
      <td>
        <%= text_field_tag :username, @applicant.username %>
        <%= link_to_function(image_tag("arrow_refresh.png",
                             :style => "margin-left:10px;margin-bottom:-10px;margin-top:-5px;",
                             :title => "click here to reload this page with a new NetID"), "$('#username_form').submit()") -%>
      </td>
      <td class="notes">
        NU NetID <%= netid_lookup_tag %> for the Principal Investigator. By default, this is the submitter's NetID.
        To change, enter a new netid and click on the 'reload' icon.
      </td>
    </tr>
  <% end %>

  <%= form_for(:applicant,
               :url => project_applicants_path({ :project_id => params[:project_id], :id => @applicant.id }),
               :html => { :multipart => true, :method => :post }) do |f| %>

    <!-- f and submission are existing variables passed in -->
    <%= render(:partial => 'applicant_form', :locals => { :f => f, :applicant => @applicant}) %>
    <tr>
      <td colspan="3" align="center" style="background:#ADE387;padding:10px;">
        <%= f.submit('Save Draft and Continue') %>
      </td>
    </tr>
  <% end %>
</table>
