<% provide(:title_tag, "Application Process - Step 1, #{@project.project_title} ") %>
<% if !@project.visible && ((!current_user.blank? && current_user.system_admin?) || is_admin?(@project.program)) %>
  <header class='unpublished' role='banner'>
    This competition is unpublished.
    <br />
    Return to the
    <%= link_to('edit', edit_project_path(@project)) %>
    page to make it visible to the public
  </header>
<% end %>

<% if @project.visible || ((!current_user.blank? && current_user.system_admin?) || is_admin?(@project.program)) %>
  <span class='instructions'>
    You will only need to complete this page once
    <br />
    but you can edit it at any time
  </span>
<% end %>

<h3><%= @project.project_title %></h3>

<% if @project.visible || ((!current_user.blank? && current_user.system_admin?) || is_admin?(@project.program)) %>
  <h2>Application Process - Step 1</h2>
  <h4>
    Please enter or review the following Investigator Profile information for this application.
    <br />
    You will be able to reassign the applicant if necessary
  </h4>

  <table  class="lined">
    <%= form_tag(new_project_applicant_path(project_id: params[:project_id]), method: :get, id: "username_form") do %>
      <tr>
        <td class="title">PI Username</td>
        <td>
          <%= text_field_tag :username, @applicant.username %>
          <%= link_to_function(image_tag("arrow_refresh.png",
                               style: "margin-left:10px; margin-bottom:-10px; margin-top:-5px;",
                               title: "click here to reload this page with a new #{NucatsAssist.institute_id_name}"),
                               "jQuery('#username_form').submit()") -%>
          <%# FIXME: Why does this only work for NU personnel? %>
          Username <%= netid_lookup_tag %> for the Principal Investigator
          <em>(currently this change PI feature works only for NU-afflilated personnel.)</em>
        </td>
      </tr>
    <% end %>

    <%= form_for(@applicant,
                 url: project_applicants_path({ project_id: params[:project_id], id: @applicant.id }),
                 html: { class: 'none', id: "applicant_form", multipart: true, method: :post }) do |f| %>

      <!-- f and submission are existing variables passed in -->
      <%= render('applicant_proxy_form', f: f, applicant: @applicant) %>
      <tr>
        <td colspan='3' align='center' style='padding:10px;' class='highlighted_table_cell' id='continue_button'>
          <%= f.submit('Continue') %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>This competition has not been published. Please contact the sponsor.</h3>
  <h4>
    <% if @project.program.email.blank? %>
      No email on record.
    <% else %>
      <%= mail_to(@project.program.email, @project.program.email,
                  :subject => "NITRO Competitions-#{@project.project_title} is unpublished",
                  :title => "Send email to #{@project.program.program_title}") %>
    <% end %>
  </h4>
<% end %>
