<p>
  <b>Username:</b>
  <%=h @applicant.username %>
</p>

<p>
  <b>eRA Commons name:</b>
  <%=h @applicant.era_commons_name %>
</p>

<p>
  <b>Name:</b>
  <%=h [@applicant.name,@applicant.name_suffix,@applicant.degrees].compact.join(", ") %>
</p>

<p>
  <b>Email:</b>
  <%=h @applicant.email %>
</p>

<p>
  <b>Work phone:</b>
  <%=h @applicant.business_phone %>
</p>

<p>
  <b>Academic Rank:</b>
  <%=h @applicant.title %>
</p>

<p>
  <b>Primary department:</b>
  <%=h @applicant.primary_department %>
</p>

<p>
  <b>Campus:</b>
  <%=h @applicant.campus %>
</p>

<p>
  <b>Campus Address:</b>
  <%=h @applicant.campus_address %>
</p>

<p>
  <b>Biosketch</b> (click to download):
	<% unless @applicant.biosketch_document_id.blank? %>
		<i><%= link_to_file(@applicant.biosketch_document_id, "#{@applicant.biosketch.file_file_name}") %></i> &nbsp; File saved on <%=  (@applicant.biosketch.last_updated_at||@applicant.biosketch.updated_at).to_s(:justdate) %>
	<% end %>
</p>


<p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Submit Application', new_submission_path(:applicant_id=>@applicant.id) %>
</p>
