<div id="app_title">
  NUCATS Competition and Awards Application Site
</div>
<div id="banner">
  <%= image_tag "banner_right.jpg", :style=>"width: 100%; height:29px; z-index:1;" %>
  <div style="float:left; z-index:2; margin-top:-29px;">
    <%= image_tag "banner_edge.jpg"  %>
    <% if defined?(current_user_session) && !current_user_session.blank? %>
      <%= render "shared/menus"  %>
      <%= image_tag "banner_edge.jpg" %>
    <% end %>
  </div>
  <div id="menu">
    <%= link_to('Help', image_path("../docs/NUCATS_Assist_Instructions.pdf"),
                :title => "Instructions on how to use NUCATS Assist and general help manual",
                :class => 'menu_link') %>
    <% if defined?(current_user_session) && !current_user_session.blank? %>
      <%= session[:name] || current_user_session.try(:username) %>
      <%= link_to "Sign Out", application_logout_path,
                  :class => 'user_link',
                  :title => "Logout of NUCATS Assist" %>
    <% else %>
      <%= link_to 'Login', projects_path,
                  :class => 'menu_link',
                  :title => "Login to NUCATS Assist" %>
    <% end %>
  </div>
</div>
<% if !cookies[:nucats_auth].present? || !session[:user_info].present? %>
  <div id="submenu">
    Having trouble logging in?
    <%= link_to 'Click here', auth_path, :class => 'menu_link' %>
    to reset your session.
  </div>
<% end %>
<%# TODO: Fix CSRF Detected error coming from OmniAuth %>
<% if !flash[:errors].blank? && flash[:errors].to_s.downcase != 'csrf detected' %>
  <div id="results" class="notice">
    <div id="errors">
      <%= flash[:errors].html_safe %>
    </div>
  <%= image_tag 'loading.gif', :id => 'spinner' %>
  </div>
<% end %>
<% unless flash[:notice].blank? %>
  <div id="test" class="notice">
    <div id="notice">
      <%= flash[:notice].html_safe %>
    </div>
  </div>
<% end %>