#banner
  = image_tag "banner_right.jpg", :style=>"width: 100%; height:29px; z-index:1;"
  %div{style: "float:left; z-index:2; margin-top:-29px;"}
    - if defined?(current_user_session) && !current_user_session.blank?
      = render "shared/menus"
- # TODO: Fix CSRF Detected error coming from OmniAuth %>
- if !flash[:errors].blank? && flash[:errors].to_s.downcase != 'csrf detected'
  #results.notice
    #errors
      = flash[:errors].html_safe
  = image_tag 'loading.gif', :id => 'spinner'
- unless flash[:notice].blank?
  #test.notice
    #notice
      = flash[:notice].html_safe
