<% if Rails.env != 'production' %>
  <div id="debug" style="float:left; margin: 5px 5px 5px 5px;">
    <a href="#" onclick="jQuery('#debug_info').toggle();" style="text-decoration: none; color: #999;">
      <%= image_tag('right.gif') %>
    </a>
    <div id="debug_info" style="display : none;">
      <h4>Session</h4><%= debug(session) %>
      <h4>Params</h4><%= debug(params) %>
      <h4>Current_User</h4><%= debug(current_user) if defined?(current_user) %>
      <h4>Current_User_Session</h4><%= debug(current_user_session) if defined?(current_user_session) %>
      <h4>Session :user_info</h4><%= debug(session[:user_info]) if defined?(session[:user_info]) %>
    </div>
  </div>
  <div class="h1" style="color:red;">This is the development/testing version. Data will not be kept!</div>
<% end %>
