.footer
  - if !current_project.nil? && !current_project.program.email.blank?
    .help 
      For assistance with current competition,
      %b
        %i
          = link_to(current_project.project_title, current_project.competition_url) + "," 
          e-mail
      %a{href: "mailto:#{current_project.program.email}?subject=[NITRO Competitions] Assistance with #{current_project.project_title}"}
        = current_project.program.email + "."
  .version
    = "v. #{NucatsAssist::VERSION}"