<div class='project_docs'>
  <div class='project_doc'>
    <%= link_to_rfa(project).html_safe %>
  </div>
  <div class='project_doc'>
    <%= link_to_application_template(project).html_safe %>
  </div>
  <div class='project_doc'>
    <%= link_to_application_info(project).html_safe %>
  </div>
  <div class='project_doc'>
    <%= link_to_budget_template(project).html_safe %>
  </div>
  <div class='project_doc'>
    <%= link_to_budget_info(project).html_safe %>
  </div>
</div>