<% @program = @sponsor unless @sponsor.blank? %>
<% @program ||= current_program unless current_program.blank? %>
<% @project ||= current_project unless current_project.blank? %>
<% @project ||= nil %>
<div id="banner_menu" class="ddsmoothmenu">
  <ul>
    <% if is_admin_any_program? %>
      <li>
        <%= link_to "Home", sponsors_url %>
      </li>
    <% else %>
      <li>
        <%= link_to "Home", projects_url %>
      </li>
    <% end %>
    <li><%= link_to "Actions", '#' %>
      <ul>
        <li>
          <%= link_to "View this competition",
                      show_competition_url(@project.program.program_name, @project.project_name) %>
        </li>
        <li>
          <%= link_to "All Competitions", projects_path %>
        </li>
        <li>
          <%= link_to "All Sponsors", sponsors_path %>
        </li>
        <% unless session[:user_id].blank? -%>
          <li>
            <%= link_to "All your submissions", all_submissions_path %>
          </li>
          <% unless @project.blank? || @project.id.blank? -%>
            <% if current_user.submission_reviews.this_project(@project.id).length > 0 -%>
              <li>
                <%= link_to "Assigned Reviews", project_reviewers_path(@project.id) %>
              </li>
              <li>
                <%= link_to "Assigned Reviews with files", index_with_files_project_reviewers_path(@project.id) %>
              </li>
              <li>
                <%= link_to "Assigned Reviews and all proposals", complete_listing_project_reviewers_path(@project.id) %>
              </li>
              <li>
                <%= link_to "Assigned Reviews and all proposals with files",
                            complete_listing_with_files_project_reviewers_path(@project.id) %>
              </li>
            <% end -%>
            <% unless current_user.submission_reviews.blank? -%>
              <li>
                <%= link_to "All your reviews", all_reviews_project_reviewers_path(@project.id) %>
              </li>
            <% end -%>
            <% if Submission.approved_submissions(current_user_session.username).length > 0 -%>
              <li>
                <%= link_to "Approvals", project_approvers_path(@project.id) %>
              </li>
            <% end -%>
          <% end -%>
          <li>
            <%= link_to "Edit your profile", edit_applicant_path(session[:user_id]) %>
          </li>
        <% end -%>
      </ul>
    </li>

    <% if is_admin?(@program)  %>
    <li>
      <a href="#">Admin</a>
      <ul>
        <% unless @project.blank? || @project.id.blank? -%>
          <li>
            <%= link_to "View All Submissions", submissions_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "View All Reviews", all_reviews_project_path(@project.id) %>
          </li>
          <li>
            <%= link_to "Review Summary", reviews_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "Define Reviewers", reviewers_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "Approvals", project_approvers_path(@project.id) %>
          </li>
          <li>
            <%= link_to "Review Summary by reviewer", complete_listing_project_reviewers_path(@project.id) %>
          </li>
        <% end %>

        <% unless @program.blank? || @program.id.blank? -%>
          <li>
            <%= link_to "Manage Roles", sponsor_roles_path(:sponsor_id=>@program.id) %>
          </li>
        <% end %>
        <% if is_super_admin? && !@project.blank? && !@project.id.blank? -%>
          <li>
            <%= link_to "Act as user", act_as_user_project_admins_path(@project.id) %>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="#">Audit</a>
      <ul>
        <% unless @project.blank? || @project.id.blank? -%>
          <li>
            <%= link_to "Graph All activities", audits_path %>
          </li>
          <li>
            <%= link_to "Graph Sponsor activities", sponsor_audits_path %>
          </li>
          <li>
            <%= link_to "List Recent Applicants", view_applicants_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List All Sponsor Applicants", view_sponsor_applicants_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List All Competition People", project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List Competition logins", view_logins_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List Competition submissions", view_submissions_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List Competition reviews", view_reviews_project_admins_path(@project.id) %>
          </li>
          <li>
            <%= link_to "List Competition activities", view_activities_project_admins_path(@project.id) %>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% unless session[:user_id].blank? -%>
      <li>
        <%= link_to "Edit your profile", edit_applicant_path(session[:user_id]) %>
      </li>
    <% end -%>
  </ul>
</div>
