<% projects.each_with_index do |project, i| %>
  <div class='project'>
    <div class='apply'>
      <%= project.current_status %>
      <% if (project.current_status =~ /open for/i) %>
        <div class='apply_link'>
          <%= link_to('Apply',
              new_project_applicant_path(project.id),
              :title => "Create an application for you or someone else for the competition '#{project.project_title}'") %>
        </div>
      <% end %>
    </div>
    <div class='project_details'>
      <div class='project_information'>
        <div class='competition'>
          <%= link_to(h(project.project_title),
                      show_competition_url(project.program.program_name, project.project_name),
                      :title=>"Click here to view the competition #{project.project_title}") %>
        </div>
      </div>
      <div class='project_information'>
        <div class='project_dates'>
          Submission Period:
          <%= project.submission_open_date.to_s(:justdate) %> -
          <%= project.submission_close_date.to_s(:justdate) %>
        </div>
      </div>
      <% if has_read_all?(project.program) %>
        <div class='project_information'>
          Number of Applications:
          <%= link_to(project.submissions.count.to_s, submissions_project_admins_url(project.id)) %>
        </div>
      <% end %>
    </div>
    <%= render('shared/project_actions', :project => project, :show_submissions => false) %>
  </div>
<% end %>