<% if projects.blank? %>
  <p>
    Sorry there are no competitions to view.
  </p>
<% else %>
  <div class='projects'>
    <% projects.each_with_index do |project, i| %>
      <div class='project'>
        <div class='apply'>
          <%= project.current_status %>
          <br />
          Announcement:
          <%= project.initiation_date.to_s(:justdate) %>
          <br />
          Review Closes:
          <%= project.review_end_date.to_s(:justdate) %>
        </div>
        <div class='project_details'>
          <div class='project_information'>
            <div class='competition'>
              <%= link_to(h(project.project_title),
                          show_competition_url(project.program.program_name, project.project_name),
                          :title=>"Click here to view the competition #{project.project_title}") %>
            </div>
          </div>
          <div class='project_information'>
            <div class='project_dates'>
              Submission Period:
              <%= project.submission_open_date.to_s(:justdate) %> -
              <%= project.submission_close_date.to_s(:justdate) %>
              <br />
              Award Period:
              <%= project.project_period_start_date.to_s(:justdate) %> -
              <%= project.project_period_end_date.to_s(:justdate) %>
            </div>
          </div>
          <% if has_read_all?(project.program) %>
            <div class='project_information'>
              Number of Applications:
              <%= link_to(project.submissions.count.to_s, submissions_project_admins_url(project.id)) %>
            </div>
          <% end %>
          <% unless project.program.program_url.blank? %>
            <div class='project_information'>
              <% program_title = "Get more information on #{project.program.program_title}" %>
              <%= link_to(h(project.program.program_title),
                          project.program.program_url, :title => program_title, :target => '_blank' ) %>
            </div>
          <% end %>
        </div>
        <%= render('shared/project_actions', :project => project, :show_submissions => true) %>
      </div>
    <% end %>
  </div>
<% end %>
