<table>
	<tr><td class="title">
	    <%= f.label "Sponsor Name" %></td>
		<td class="notes" colspan="2"><%= f.text_field :program_name, :size=>20 %> Short, no space name for the sponsor. This is the name that will appear in the URL for the sponsor, like 'https://grants.nubic.northwestern.edu/competitions/cti/spring2011' where spring2011 is the competition name and cti is the sponsor name </td>
	</tr>
	<tr><td class="title">
	    <%= f.label "Sponsor Title" %></td>
		<td class="notes" colspan="2"><%= f.text_field :program_title, :size=>80 %> Descriptive Title. Required</td>
	</tr>
	<tr><td class="title">
	    <%= f.label "Sponsor URL"  %></td>
		<td class="notes" colspan="2"> <%= f.text_field :program_url, :size=>80 %> URL for more information about the sponsor</td>
	</tr>
	    
</table>
