<div id='sponsor_list'>
  <% show_details ||= false %>
  <% if !sponsors.blank? %>
    <% sponsors.each_with_index do |sponsor| %>
      <div class='program'>

        <div class="program_name">
          <%= link_to(h(sponsor.program_name), sponsor_path(sponsor), title: "Click here to view the sponsor: #{sponsor.program_name}") %>
        </div>

        <div class='program_details'>

          <div class='program_information program_title'>
            <%= sponsor.program_title %>
          </div>

          <div class='program_information'>
            Number of Competitions:
            <%= link_to(sponsor.projects.count, sponsor_path(sponsor)) %>
          </div>

          <div class='program_information'>
            URL:
            <%= link_to(sponsor.program_url, sponsor.program_url, :target => '_blank') %>
          </div>

          <% if is_admin?(sponsor) %>
            <%= link_to(image_tag("page_white_edit.png",
                          width: "16px", height: "16px",
                          style: "margin-top:-5px; margin-bottom:-2px;") + ' Edit sponsor information',
                edit_sponsor_path(sponsor),
                title: "Click here to edit information about this sponsor") %>
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
</div>