<div id='sponsor_contact'>
  <div>
  <h3>
    <%=h [@contact.name, @contact.name_suffix, @contact.degrees].reject(&:blank?).join(", ") %>
  </h3>
  <div class='indented'>
    <%= link_to('Edit this entry.', edit_applicant_path(@contact.id), title: "Edit #{@contact.name}'s profile") %>
  </div>
  
  <div>
    <b>Username:</b>
    <%=h @contact.username %>
  </div>

  <div>
    <b>Email:</b>
    <% if @contact.email.blank? %>
      No email on record.
    <% else %>
      <%= mail_to(@contact.email, @contact.email,
                  :subject => NucatsAssist.email_subject, 
                  :title => "Send email to #{@contact.name}") %>
    <% end %> 
  </div>

  <div>
    <b>Work phone:</b>
    <%=h @contact.business_phone %>
  </div>

  <div>
    <b>Title:</b>
    <%=h @contact.title %>
  </div>

  <div>
    <b>Primary department:</b>
    <%=h @contact.primary_department %>
  </div>

  <div>
    <b>Campus:</b>
    <%=h @contact.campus %>
  </div>

  <div>
    <b>Campus Address:</b>
    <%=h @contact.campus_address %>
  </div>

  <% if is_admin? %>
    <div>
      <b>Receives Submission Notifications:</b>
      <%=h @contact.should_receive_submission_notifications.to_s.titleize %>

      <% action = @contact.should_receive_submission_notifications ? 
                  'opt_out_submission_notification' : 'opt_in_submission_notification' %>

      <%= button_to 'Switch Preference', { action: action, id: @contact.id }, form_class: 'email_preference' %>
    </div>
  <% end %>
</div>