<h1>Editing '<%= @sponsor.program_title %>'</h1>

<%= form_for(@sponsor, :url => sponsor_path(@sponsor)) do |f| %>
  <%= f.error_messages %>

  <%= render(:partial => 'sponsor_form', :locals => { :f => f, :sponsor => @sponsor }) %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= render(:partial => 'shared/admin_links') %>

<p>
  <%= link_to "List of all competitions for #{@sponsor.program_title}", sponsor_path(@sponsor.id) %>
</p>
