<%= render 'sponsor_list', :sponsors => @sponsors %>

<% if @projects.length > 0 %>
  <h2>Listing of all competitions sponsored by <%= @sponsor.program_title %></h2>
  <%= render 'shared/project_selection_list', :projects => @projects %>
<% else %>
  <h2>No valid competitions have been sponsored by <%= @sponsor.program_title %></h2>
<% end %>

<%= render 'shared/admin_links' %>
