<table id="sponsorTable" class="tablesorter">
  <thead>
    <tr>
      <th width="100px">Name</th>
      <th>Title</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to(@sponsor.program_name, sponsor_path(@sponsor)) %>
      </td>
      <td>
        <%= @sponsor.program_title %>
      </td>
      <td>
        <%= link_to(@sponsor.program_url, @sponsor.program_url) %>
      </td>
      <% if is_admin?(@sponsor) %>
        <td><%= link_to "Edit", edit_sponsor_path(@sponsor) %></td>
      <% end %>
    </tr>
  </tbody>
</table>


<% if current_user.system_admin? || is_admin?(@sponsor) %>  
  <%= link_to(image_tag('add.png', width: '16px', height: '16px') + ' Add Sponsor Admins', sponsor_roles_path(@sponsor)) %>

<% end %>

<% if @projects && @projects.length > 0 %>
  <h2>Listing of all competitions sponsored by <%= @sponsor.program_title %></h2>
  <div class='program'>
    <%= render 'shared/project_list',
               projects: @projects,
               show_project_link: true,
               show_action_links: true %>
  </div>
<% else %>
  <h3>No valid competitions have been sponsored by <%= @sponsor.program_title %></h3>
<% end %>

<%= render 'shared/admin_links', program: @sponsor %>
