<div id='show_submission'>
  <% project = submission.project %>
  <% applicant = submission.applicant %>

  <div>
    <p class='h2'>
      <%= project.program.program_title %>
      <br />
      <%= project.project_title %>
    </p>
  </div>

  <div>
    <p><%= project.title_wording %></p>
    <%=h blank_safe submission.submission_title %>
  </div>

  <% if project.show_abstract_field %>
    <div>
      <p>Abstract</p>
      <%=h blank_safe submission.abstract %>
    </div>
  <% end %>

  <% if project.show_submission_category %>
    <div>
      <p><%= project.category_wording.html_safe %></p>
      <%=h blank_safe submission.submission_category %>
    </div>
  <% end %>

  <div>
    <p><%= project.applicant_wording.html_safe %></p>
    <%=h blank_safe applicant.name %>
  </div>

  <div>
    <p>Degrees</p>
    <%=h blank_safe applicant.degrees %>
  </div>

  <div>
    <p>Rank</p>
    <%=h blank_safe applicant.title %>
  </div>

  <div>
    <p>Address</p>
    <%=h blank_safe applicant.campus %><br/>
    <%=h blank_safe applicant.campus_address %><br/>
  </div>

  <% if !applicant.address.blank? || 
        !applicant.city.blank? || 
        !applicant.state.blank? || 
        !applicant.postal_code.blank? %>
    <div>
      <p>Alternate Address</p>
      <%=h blank_safe applicant.address %><br/>
      <%=h blank_safe applicant.city %>, <%=h blank_safe applicant.state %>
      <%=h blank_safe applicant.postal_code %>
    </div>
  <% end %>

  <div>
    <p>Department</p>
    <%=h blank_safe applicant.primary_department %>
  </div>

  <div>
    <p>Telephone</p>
    <%=h blank_safe applicant.business_phone %>
  </div>

  <div>
    <p>Email</p>
    <%=h blank_safe applicant.email %>
  </div>

  <% if project.show_core_manager %>
    <div>
      <p>Core Manager</p>
      <%= blank_safe submission.core_manager.name %> 
    </div>
  <% end %>

  <% if project.show_department_administrator %>
    <div>
      <p><%= project.department_administrator_title %></p>
      <%=h blank_safe submission.department_administrator.name %>
    </div>
  <% end %>

  <% if project.show_effort_approver %>
    <div>
      <p><%= project.effort_approver_title %></p>
      <%=h blank_safe submission.effort_approver.name %>
    </div>
  <% end %>

  <div>
    <p>Submitted by</p>
    <%= blank_safe submission.submitter.name %> 
  </div>

  <% if project.show_human_subjects_research %>
    <div>
      <p>Human Subjects Research</p>
      <%= long_format_boolean submission.is_human_subjects_research %>
    </div>
  <% end %>

  <% if project.show_irb_approved %>
    <div>
      <p>IRB Approved</p>
      <%= long_format_boolean submission.is_irb_approved %>
    </div>
  <% end %>

  <% if project.show_irb_study_num %>
    <div>
      <p>IRB Study</p>
      <%= blank_safe submission.irb_study_num %>
    </div>
  <% end %>

  <% if project.show_use_nucats_cru %>
    <div>
      <p>Uses NUCATS CRU?</p>
      <%=long_format_boolean submission.use_nucats_cru %> 
    </div>
  <% end %> 

  <% if project.show_use_nucats_cru %>
    <div>
      <p>NUCATS CRU contact</p>
      <%= submission.nucats_cru_contact_name %>
    </div>
  <% end %>

  <% if project.show_use_stem_cells %>
    <div>
      <p>Does the research use stem cells?</p>
      <%= long_format_boolean submission.use_stem_cells %>
    </div>
  <% end %> 

  <% if project.show_use_embryonic_stem_cells %>
    <div>
      <p>Does the research use embryonic stem cells? </p>
      <%= long_format_boolean submission.use_embryonic_stem_cells %>
    </div>
  <% end %>

  <% if project.show_use_vertebrate_animals %>
    <div>
      <p>Vertebrate Animals</p>
      <%= long_format_boolean submission.use_vertebrate_animals %>
    </div>
  <% end %>

  <% if project.show_iacuc_approved %>
    <div>
      <p>Has IACUC Approval? (not required)</p>
      <%= long_format_boolean submission.is_iacuc_approved %> IACUC#: <%=h blank_safe submission.iacuc_study_num %>
    </div>
  <% end %>

  <div>
    <p>Proposed Period of Support</p>
    <%= project.project_period_start_date.to_s(:justdate) %> to <%= project.project_period_end_date.to_s(:justdate) %>
  </div>

  <% if project.show_project_cost %>
    <div>
      <p><%= project.direct_project_cost_wording %></p>
      <%= number_to_currency submission.direct_project_cost.to_s %>
    </div>
  <% end %>

  <% if project.show_cost_sharing_amount %>
    <div>
      <p>Cost Sharing Amount</p>
      <%= number_to_currency submission.cost_sharing_amount.to_s %>
    </div>
  <% end %> 

  <% if project.show_cost_sharing_organization %>
    <div>
      <p>Cost Sharing Organization(s)</p>
      <pre><%= blank_safe submission.cost_sharing_organization %></pre>
    </div>
  <% end %>

  <% if project.show_received_previous_support %>
    <div>
      <p>Received previous support from this competition?</p>
      <%= long_format_boolean submission.received_previous_support %>
    </div>
  <% end %>

  <% if project.show_previous_support_description %>
    <div>
      <p>Detailed description of previous support</p>
      <%= blank_safe submission.previous_support_description %>
    </div>
  <% end %>

  <% if project.show_is_new  %>
    <div>
      <p><%= project.is_new_wording %></p>
      <%= long_format_boolean submission.is_new %>
    </div>
  <% end %>

  <% if project.show_not_new_explanation %> 
    <div>
      <p>Not new explanation</p>
      <%=h blank_safe submission.not_new_explanation %> 
    </div>
  <% end %>

  <% if project.show_use_nmh || project.show_use_nmff || project.show_use_va || project.show_use_ric || project.show_use_cmh %> 
    <p>Will this project require facilities, resources or patients at any of the following: </p>
    NMH: <%= long_format_boolean submission.use_nmh %> 
    NMFF: <%= long_format_boolean submission.use_nmff %> 
    VA: <%= long_format_boolean submission.use_va %> 
    RIC: <%= long_format_boolean submission.use_ric %> 
    CMH: <%= long_format_boolean submission.use_cmh %> 
  <% end %>

  <% if project.show_other_funding_sources %>
    <div>
      <p>Are there alternative sources of funding. If so, please explain.</p>
      <%=h submission.other_funding_sources %>
    </div>
  <% end %>

  <% if project.show_committee_review_approval %>
    <div>
      <p>Received the approval of review committee?</p>
      <%= long_format_boolean submission.committee_review_approval %> 
    </div>
  <% end %>

</div>