%script{type: 'text/javascript'}
  // textCounter script
  function textCounter(field,cntfield_id,maxlimit) { if (field.value.length > maxlimit) { field.value = field.value.substring(0, maxlimit); } else { $(cntfield_id).innerHTML = maxlimit - field.value.length; } }

= f.hidden_field :project_id
= f.hidden_field :id

%table{cellpadding: '10px', cellspacing: '10px'}
  - if f.object && !f.object.try(:errors).blank?
    %tr
      %td{colspan: '2'}
        = render 'shared/error_messages', object: f.object

    %tr
      %td{colspan: '2'}
        = submission.inspect

  %tr
    %td
      %h3 Project overview and approvals
  %tr
    %td
      = applicant.name
      = f.label :applicant_id, "- #{project.applicant_wording.html_safe}"
      = f.hidden_field :applicant_id
    %td
      = link_to "Go back to #{project.applicant_wording} form to edit", edit_project_applicant_path(project.id, applicant.id)
      %br
      = link_to "Enter a submission for a different #{project.applicant_abbreviation_wording}", new_project_applicant_path(project.id)

  %tr
    %td
      = f.text_field :submission_title, size: 81, maxlength: 81, required: true, minlength: 6, onkeyup: "textCounter(document.forms[0].submission_submission_title,'submission_title_cnt',81)"
      %span#submission_title_cnt
    %td
      = f.label :submission_title, project.title_wording.html_safe
      %br
      Must be between 6 and 81 characters, including spaces and punctuation.

  - if project.show_submission_category
    %tr
      %td
        = f.text_field :submission_category, {placeholder: 'Core facility name', size: 60}
      %td
        = f.label :submission_category, project.category_wording.html_safe
        %br
        = project.submission_category_description.html_safe

  - if project.show_core_manager
    %tr
      %td
        = f.text_field :core_manager_username, {placeholder: 'Core Manager netID'}
        = netid_lookup_tag.html_safe
        = netid_lookup_observer(:submission_core_manager_username).html_safe
        %span#submission_core_manager_username_id
        = netid_lookup_function(:submission_core_manager_username, false).html_safe
      %td
        = f.label :core_manager_username, "Core Manager netID"

  - if project.show_abstract_field
    %tr
      %td
        = f.text_area :abstract, {placeholder: 'Abstract', rows: 7, cols: 80, required: true}
      %td
        = project.abstract_text

  - if project.show_irb_approved || project.show_irb_study_num
    %tr
      %td
        = f.check_box :is_irb_approved
        = 'Check if this study has IRB approval.'
        %br
        %br
        = "If so, enter the IRB study number: <br />#{f.text_field :irb_study_num}".html_safe
      %td
        = f.label :is_irb_approved, 'IRB approved?'

  - if project.show_iacuc_approved
    %tr
      %td
        = f.check_box :is_iacuc_approved
        = 'Check if this is study has IACUC approval.'
        %br
        %br
        = "If so, enter the IACUC study number: <br />#{f.text_field :iacuc_study_num}".html_safe
      %td
        = f.label :is_iacuc_approved, 'IACUC approved?'

  - if project.show_use_nucats_cru
    %tr
      %td
        = f.check_box :use_nucats_cru
        = 'Check if this project will make use of the'
        = link_to 'NUCATS Clinical Research Unit', NucatsAssist.cru_url, target: "_blank"
      %td
        = f.label :use_nucats_cru, 'Use the NUCATS CRU?'

  - if project.show_nucats_cru_contact_name
    %tr
      %td
        = f.text_field :nucats_cru_contact_name, required: true
      %td
        = f.label :nucats_cru_contact_name, 'NUCATS CRU contact'
        %br
        %br
        = 'Enter your CRU contact if you will make use of the NUCATS CRU.'
        = "If you have not made contact with the CRU, please contact #{mail_to(NucatsAssist.cru_contact_email, NucatsAssist.cru_contact_email_text, subject: "CRU usage for a #{NucatsAssist.plain_app_name} Competition", encode: "javascript", title: "Click to send CRU Contact an email")}".html_safe

  %tr
    %td
      %h3 Stem cell, human subject, and animal research

  - if project.show_human_subjects_research
    %tr
      %td
        = f.check_box :is_human_subjects_research
        = 'Check if this is human subjects research'
      %td
        = project.human_subjects_research_text

  - if project.show_use_stem_cells
    %tr
      %td
        = f.check_box :use_stem_cells
        = 'Check if this research will involve the collection, derivation or use of human stem cells.'
      %td
        = f.label :use_stem_cells, 'Stem cell research?'

  - if project.show_use_embryonic_stem_cells
    %tr
      %td
        = f.check_box :use_embryonic_stem_cells
        = 'Check if this project will involve embryonic human stem cells.'
      %td
        = f.label :use_embryonic_stem_cells, 'Use embryonic stem cells?'

  - if project.show_use_vertebrate_animals
    %tr
      %td
        = f.check_box :use_vertebrate_animals
        = 'Check if this project will make use of vertebrate animals.'
      %td
        = f.label :use_vertebrate_animals, 'Use vertebrate animals?'

  %tr
    %td
      %h3 Costs and funding

  %tr
    %td{colspan: '2'}
      = 'Dates of the proposed period of support:'
      %br
      = "From #{project.project_period_start_date} through #{project.project_period_end_date}."

  - if project.show_project_cost
    %tr
      %td
        = f.text_field :direct_project_cost, {required: true, placeholder: 'Direct cost', min: project.min_budget_request, max: project.max_budget_request}
      %td
        = f.label :direct_project_cost, project.direct_project_cost_wording
        - unless project.direct_project_cost_wording.blank?
          = "Enter the #{project.direct_project_cost_wording} requested for the proposed period of support."
          %br
        - unless project.min_budget_request.blank? and project.max_budget_request.blank?
          = "Amount should be between #{number_to_currency(project.min_budget_request)} and #{number_to_currency(project.max_budget_request)}"

  - if project.show_cost_sharing_amount
    %tr
      %td
        = f.text_field :cost_sharing_amount, required: true
      %td
        = f.label :cost_sharing_amount
        %br
        = 'Enter the total amount of cost sharing for this request.'

  - if project.show_cost_sharing_organization
    %tr
      %td
        = f.text_area :cost_sharing_organization, rows: 3, cols: 80, required: true
      %td
        = f.label :cost_sharing_organization
        %br
        = 'List the organizations providing the cost sharing.'

  - if project.show_received_previous_support
    %tr
      %td
        = f.check_box :received_previous_support
        = 'Check if you received Office of Research support for equipment or operating expenses in the previous two years.'
        %br
        - if project.show_previous_support_description
          %br
          = 'If you received prior support, please indicate when the award(s) was made and how much money was awarded for each item - be specific:'
          %br
          = f.text_area :previous_support_description, rows: 3, cols: 80, required: true
      %td
        = f.label :received_previous_support, 'Received previous support?'

  - if project.show_is_new
    %tr
      %td
        = f.check_box :is_new
        = 'Check if this is a new proposal.'
        - if project.show_not_new_explanation
          %br
          %br
          = 'If not, please explain:'
          %br
          = f.text_area :not_new_explanation, rows: 4, required: true
      %td
        = f.label :is_new, project.is_new_wording

  - if project.show_use_nmh || project.show_use_nmff || project.show_use_va || project.show_use_ric || project.show_use_cmh
    %tr
      %td
        = 'Will this project require use of facilities, staff or patients at:'.html_safe
        %br
        - if project.show_use_nmh
          = f.check_box :use_nmh
          NMH&nbsp;&nbsp;
        %br
        - if project.show_use_nmff
          = f.check_box :use_nmff
          NMFF&nbsp;&nbsp;
        %br
        - if project.show_use_va
          = f.check_box :use_va
          VA&nbsp;&nbsp;
        %br
        - if project.show_use_ric
          = f.check_box :use_ric
          RIC&nbsp;&nbsp;
        %br
        - if project.show_use_cmh
          = f.check_box :use_cmh
          CMH&nbsp;&nbsp;


  - if project.show_other_funding_sources
    %tr
      %td
        = 'Are there alternative sources of funding for this project? List current support and pending/planned applications (including other internal competitions).'
        %br
        = f.text_area :other_funding_sources, rows: 4, class: "narrow", required: true
      %td
        = f.label :other_funding_sources, project.other_funding_sources_wording.html_safe

  %tr
    %td{colspan: '2'}
      %h3 Other info

  - if project.show_is_conflict
    %tr
      %td
        = f.check_box :is_conflict
        = 'Check if there are any conflicts of interest.'
        %br
        %br
        = 'If yes, please explain:'
        %br
        = f.text_area :conflict_explanation, { rows: 4, class: "narrow"}
      %td
        = f.label :is_conflict, "Conflicts of Interest"

  - if project.show_department_administrator
    %tr
      %td
        = f.text_field :department_administrator_username
        = netid_lookup_tag.html_safe
        %span
          = netid_lookup_observer(:submission_department_administrator_username).html_safe
          %span#submission_department_administrator_username_id
        = netid_lookup_function(:submission_department_administrator_username, false).html_safe
      %td
        = "Enter the NetID of your #{project.department_administrator_title}"

  - if project.show_committee_review_approval
    %tr
      %td
        = f.check_box :committee_review_approval
        = 'Check if you have received the approval of your review committee for this request.'
      %td
        = f.label :committee_review_approval, 'Committee review approval?'

  - if project.show_effort_approver
    %tr
      %td
        = f.text_field :effort_approver_username
        = netid_lookup_tag.html_safe
        = netid_lookup_observer(:submission_effort_approver_username).html_safe
        %span#submission_effort_approver_username_id
        = netid_lookup_function(:submission_effort_approver_username, false).html_safe
      %td
        = f.label :effort_approver_username, "#{project.effort_approver_title.capitalize} NetID"
        = "Enter the NetID of your #{project.effort_approver_title}"

  %tr
    %td{colspan: '2', style: 'background:#ADE387;'}
      = f.submit(@submission.id.blank? ? 'Save Draft and Continue' : 'Save Update')

%script{type: 'text/javascript'}
  textCounter(document.forms[0].submission_submission_title, 'submission_title_cnt', 81);
