<% submission = submission || @submission%>
<h3><%= "Manage Key Personnel for <i>#{@submission.submission_title}</i> by <i>#{@submission.applicant.name}</i>" %></h3>

<%= form_for(:submission,
             :url => submission_path(@submission.id),
             :html => { :multipart => true, :method => :put }) do |f| %>
  <%= f.hidden_field :submission_status %>
  <%= f.hidden_field :id %>

  <table class="lined">
    <%= render 'key_personnel_form', :f => f, :project => @project, :submission => @submission, :applicant => @applicant %>
    <tr>
      <td colspan="3" align="center" style="background:#ADE387;padding:10px;">
        <%= f.submit( 'Update Application') %>
      </td>
    </tr>
  </table>
<% end %>

<table class="borderless">
  <%= render 'shared/submission_actions', :submission => submission %>
</table>

<br />

<%= link_to 'List of submissions', project_submissions_path( @submission.project_id ) %>
