<h3><%= @project.project_title %></h3>
<h2>Application Process - Step 2</h2>
<h4>Create the Title Page for this proposal</h4>
<p>Please fill in each of the following items and submit.</p>

<%= form_for(:submission,
             :url => project_applicant_submissions_path(params[:project_id], params[:applicant_id]),
             :html => { :multipart => true, :method => :post, :id => 'new_submission_form' }) do |f| %>
  <!-- f and submission are existing variables passed in -->
  <%= f.hidden_field :submission_status %>
  <table class='lined'>
    <%= render 'submission_form', :f => f, :project => @project, :submission => @submission, :applicant => @applicant %>
    <tr>
      <td colspan='3' align='center' class='highlighted_table_cell'>
        <%= f.submit( @submission.id.blank? ? 'Continue' : 'Save Update' ) %>
      </td>
    </tr>
  </table>
<% end %>

<script>
  jQuery('#new_submission_form').validate();
</script>