<div id='tabs'>
  <ul>
    <li><a href="#core_tab">Basic Competition Attributes</a></li>
    <li><a href="#customize_tab">Customize Competition</a></li>
    <li><a href="#documents_tab">Customize Upload Files</a></li>
    <li><a href="#institution_tab">Institution Configuration</a></li>
    <li><a href="#review_tab">Reviewer Configuration</a></li>
  </ul>
  <div id='core_tab'>
    <table>
      <tr>
        <td class="title">
          <%= f.label :visible, 'Visible' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :visible %>
            When checked the competition will be visible by the entire public.<br>
            When unchecked the competition will only be visible by administrators associated with the sponsor.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.hidden_field :program_id %>
          <%= hidden_field_tag 'program_id', @program.id if @program %>
          <%= f.label "Competition Name" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_name, :size => 20, required: true %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            Short, no space name for the competition.<br>
            This is the name that will appear in the URL for the competition,<br>
            like 'https://grants.nubic.northwestern.edu/competitions/cti/spring2011' where spring2011 is the competition name
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label "Competition Title" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_title, :size => 80, required: true %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            Descriptive Title. Required
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label "Competition URL" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_url, :size=>80 %>
          <div class='attribute_description'>
            URL for more information about the competition
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :project_url_label, "Competition URL label" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_url_label, :size=>80 %>
          <div class='attribute_description'>
            'Competition RFA' is the default.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :initiation_date %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :initiation_date, :size=>15, required: true, class: 'datepicker' %>
          <div class='attribute_description'>
            Date this competition will first appear on this site
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :submission_open_date  %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :submission_open_date, :size=>15, required: true, class: 'datepicker' %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            Date when applicants can first start to apply for the competition
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :submission_close_date  %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :submission_close_date, :size=>15, required: true, class: 'datepicker' %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            Last date (at midnight that day) when the applicants can submit their submission
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :strict_deadline, 'Strict deadline?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :strict_deadline %>
            Should this competition block submission if the form was not completed by the submission close date (even in the case that the submitter started form entry before the deadline)?
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :submission_modification_date  %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :submission_modification_date, :size=>15, class: 'datepicker' %>
          <div class='attribute_description'>
            Last date (at midnight that day) when the applicants can modify their submission.
            <br />
            By default the same as the submission_close_date but you can make it later to give applicants a chance to modify existing proposals.
           </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :review_start_date  %>
          <span class='required_marker'> * </span>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :review_start_date, :size=>15, required: true, class: 'datepicker' %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            Start of the Review process.
            <br />
            Date when the reviewers can first access the review form.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :review_end_date, required: true %>
          <span class='required_marker'> * </span>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :review_end_date, :size=>15, required: true, class: 'datepicker' %>
          <span class='required_marker'> * </span>
          <div class='attribute_description'>
            End of the Review process.
            <br />
            Final date when the reviewers can change the review form.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :project_period_start_date %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_period_start_date, :size=>15, required: true, class: 'datepicker' %>
          <div class='attribute_description'>
            When the project funding starts. Informational only.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :project_period_end_date %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :project_period_end_date, :size=>15, required: true, class: 'datepicker' %>
          <div class='attribute_description'>
            When the project funding ends. Informational only.
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :membership_required, 'Membership required?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :membership_required %>
            Is this competition restricted to <%= NucatsAssist.ctsa_name %> members?
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :closed_status_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :closed_status_wording %>
          <div class='attribute_description'>
            Wording for project status used when project has closed. Default is 'Awarded'.
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id='customize_tab'>
    <table>
      <tr>
        <td id="title2" colspan="3">
          <strong>Select elements to require / show</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :require_era_commons_name %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :require_era_commons_name %>
            Check to require a <b>ERA Commons name</b> for the principal investigator.
            <br />
            This is the unique investigator name given by the NIH for any investigator applying for federal money as 'key personnel'
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_effort_approver %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_effort_approver %>
            Check to include the <b>effort approver</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :effort_approver_title %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :effort_approver_title, :size=>80 %>
          <div class='attribute_description'>
            If you include the 'effort approver' item, please enter the proper wording.
            <br />
            This would be 'Chair' for most competitions, 'Facility Committee Chair' for the OR competition, 'Mentor' for training awards
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_department_administrator %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_department_administrator %>
            Check to include the <b>department administrator</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :department_administrator_title %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :department_administrator_title, :size=>80 %>
          <div class='attribute_description'>
            If you include the 'department administrator' item, please enter the proper wording.
            <br />
            This would be 'Financial contact' for most competitions
          </div>
        </td>
      </tr>
      <tr>
        <td id="title2" colspan="3">
          <strong>Customize wording of data fields for this competition</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :applicant_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :applicant_wording, :size=>80 %>
          <div class='attribute_description'>
            'Principal Investigator' is the default.
            <br />
            The OR core facilities competition uses 'Core Facilities Director'
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :applicant_abbreviation_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :applicant_abbreviation_wording, :size=>80 %>
          <div class='attribute_description'>
            'PI' is the default.
            <br />
            The OR core facilities competition uses 'Director'
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :title_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :title_wording, :size=>80 %>
          <div class='attribute_description'>
            'Title of Project' is the default.
            <br />
            The OR core facilities competition uses 'Request Title'
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :show_abstract_field %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_abstract_field %>
            Check to include an <b>abstract</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :abstract_text, "Abstract wording" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :abstract_text, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Text to include with the <b>abstract</b> submission form item
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :show_other_funding_sources %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_other_funding_sources %>
            Check to include the <b>other funding_sources</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :other_funding_sources_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :other_funding_sources_wording, :size=>80 %>
          <div class='attribute_description'>
            'Other funding sources' for most competitions
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_submission_category %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_submission_category %>
            Check to include the <b>submission category</b> submission form item. Not used by most competitions.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :category_wording, "Submission category wording" %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :category_wording, :size=>80 %>
          <div class='attribute_description'>
            OR uses 'Core Facility Name'
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :submission_category_description %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :submission_category_description, :size=>80 %>
          <div class='attribute_description'>
            OR default: 'Please enter the core you are making this submission for'
          </div>
        </td>
      </tr>
      <tr>
        <td id="title3" colspan="3">
          <strong>Customize template and help documentation URLs and wording</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_application_doc %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_application_doc %>
            Check to include the <b>application document</b> upload file form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_doc_name %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :application_doc_name, :size=>80 %>
          <div class='attribute_description'>
            Label name for <b>application document</b> upload item.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_doc_description %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :application_doc_description, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Descriptive text to help submitters/reviewers understand what should be in the <b>application document</b>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_template_url %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :application_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL for the <b>application template</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_template_url_label %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :application_template_url_label, :size=>80 %>
          <div class='attribute_description'>
            Label for the URL to the <b>application template</b>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_info_url %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :application_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL for instructions for how to fill in the <b>application template</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :application_info_url_label %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :application_info_url_label, :size=>80 %>
          <div class='attribute_description'>
            Label for the URL to the <b>application instructions</b>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_budget_form %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_budget_form %>
            Check to include the <b>budget form</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :budget_template_url %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :budget_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL for the <b>budget template</b>, if it is shown.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :budget_template_url_label %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :budget_template_url_label, :size=>80 %>
          <div class='attribute_description'>
            Label for the URL to the <b>budget template</b>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :budget_info_url %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :budget_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL for instructions for how to fill in the <b>budget template</b>, if it is shown.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :budget_info_url_label %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :budget_info_url_label, :size=>80 %>
          <div class='attribute_description'>
            Label for the URL to the <b>budget instructions</b>
          </div>
        </td>
      </tr>
      <tr>
        <td id="title5" colspan="3">
          <strong>Direct Cost item, wording and budget request limits</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_project_cost %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_project_cost %>
            Check to include "project cost item" in the submission form
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :direct_project_cost_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :direct_project_cost_wording, :size=>80 %>
          <div class='attribute_description'>
            'Project Budget Request, Directs Only' for most competitions
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :show_total_amount_requested %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_total_amount_requested %>
            Check to include "total amount requested" in the submission form
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :total_amount_requested_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :total_amount_requested_wording, :size=>80 %>
          <div class='attribute_description'>
            'Total Amount Requested' for most competitions
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :min_budget_request %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :min_budget_request, :size=>15 %>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :max_budget_request %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :max_budget_request, :size=>15 %>
        </td>
      </tr>
      <tr>
        <td id="title6" colspan="3">
          <strong>Select submission items to show</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_is_new %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_is_new %>
            Check to include the <b>is new</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :is_new_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :is_new_wording, :size=>80 %>
          <div class='attribute_description'>
            'Is this completely new work?' for most competitions
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <%= f.label :show_type_of_equipment %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_type_of_equipment %>
            Check to include the <b>type of equipment</b> submission form item
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :type_of_equipment_wording %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :type_of_equipment_wording, :size=>80 %>
          <div class='attribute_description'>
            'Type of Equipment' for most competitions
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id='documents_tab'>
    <table>
      <tr>
        <td id="title4" colspan="3">
          <h3>
            <strong>Documents and manage co-investigators</strong>
          </h3>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_manage_biosketches %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_manage_biosketches %>
            Include the ability to include an NIH <b>biosketch</b> document as an uploadable file for the PI and co-investigators
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_manage_coinvestigators %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_manage_coinvestigators %>
            Include the ability to include <b>co-investigators</b> in the submission (part of the Edit Documents form)
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_manage_other_support %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_manage_other_support %>
            Include the <b>NIH Other Support</b> document as an uploadable file
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented">
          <%= f.label :manage_other_support_text %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :manage_other_support_text, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Text to include with the <b>NIH Other Support</b> document item
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <h3>
            <%= f.label :show_document1, 'Document 1' %>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_document1 %>
            Include <b>Document 1</b> as an uploadable file.
          </div>
          <div class='attribute_description'>
            <%= f.check_box :document1_required %>
            Require <b>Document 1</b>.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document1_name, 'Name' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document1_name, :size=>80, :value => '' %>
          <div class='attribute_description'>
            Label used for <b>Document 1</b> for submitters and reviewers. For instance, 'OSR-1'.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document1_template_url, 'Template URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document1_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL to the template file for <b>Document 1</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document1_info_url, 'Info URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document1_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL to additional info/instructions for how to fill in file for <b>Document 1</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented" >
          <%= f.label :document1_description, 'Description' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :document1_description, {:rows => 5, :cols => 80, :wrap => "virtual", :value => ''} %>
          <div class='attribute_description'>
            Descriptive text to help submitters/reviewers understand what to find in <b>Document 1</b>.
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <h3>
            <%= f.label :show_document2, 'Document 2' %>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_document2 %>
            Include <b>Document 2</b> as an uploadable file.
          </div>
          <div class='attribute_description'>
            <%= f.check_box :document2_required %>
            Require <b>document 2</b>.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document2_name, 'Name' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document2_name, :size=>80, :value => '' %>
          <div class='attribute_description'>
            Label used for <b>Document 2</b> for submitters and reviewers. For instance, 'OSR-2'.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document2_template_url, 'Template URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document2_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL to the template file for <b>Document 2</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document2_info_url, 'Info URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document2_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL to additional info/instructions for how to fill in file for <b>Document 2</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented" >
          <%= f.label :document2_description, 'Description' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :document2_description, {:rows => 5, :cols => 80, :wrap => "virtual", :value => ''} %>
          <div class='attribute_description'>
            Descriptive text to help submitters/reviewers understand what to find in <b>Document 2</b>.
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <h3>
            <%= f.label :show_document3, 'Document 3' %>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_document3 %>
            Include <b>Document 3</b> as an uploadable file.
          </div>
          <div class='attribute_description'>
            <%= f.check_box :document3_required %>
            Require <b>document 3</b>.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document3_name, 'Name' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document3_name, :size=>80, :value => '' %>
          <div class='attribute_description'>
            Label used for <b>Document 3</b> for submitters and reviewers. For instance, 'OSR-3'.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document3_template_url, 'Template URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document3_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL to the template file for <b>Document 3</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document3_info_url, 'Info URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document3_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL to additional info/instructions for how to fill in file for <b>Document 3</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented" >
          <%= f.label :document3_description, 'Description' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :document3_description, {:rows => 5, :cols => 80, :wrap => "virtual", :value => ''} %>
          <div class='attribute_description'>
            Descriptive text to help submitters/reviewers understand what to find in <b>Document 3</b>.
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">
          <h3>
            <%= f.label :show_document4, 'Document 4' %>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_document4 %>
            Include <b>Document 4</b> as an uploadable file.
          </div>
          <div class='attribute_description'>
            <%= f.check_box :document4_required %>
            Require <b>document 4</b>.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document4_name, 'Name' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document4_name, :size=>80, :value => '' %>
          <div class='attribute_description'>
            Label used for <b>Document 4</b> for submitters and reviewers. For instance, 'OSR-4'.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document4_template_url, 'Template URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document4_template_url, :size=>80 %>
          <div class='attribute_description'>
            URL to the template file for <b>Document 4</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented" >
          <%= f.label :document4_info_url, 'Info URL' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :document4_info_url, :size=>80 %>
          <div class='attribute_description'>
            URL to additional info/instructions for how to fill in file for <b>Document 4</b>, if it exists.
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented" >
          <%= f.label :document4_description, 'Description' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :document4_description, {:rows => 5, :cols => 80, :wrap => "virtual", :value => ''} %>
          <div class='attribute_description'>
            Descriptive text to help submitters/reviewers understand what to find in <b>Document 4</b>.
          </div>
        </td>
      </tr>

      <tr>
        <td id="title4" colspan="3">
          <h3>
            <strong>Supplemental Document</strong>
          </h3>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :supplemental_document_name, 'Name' %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :supplemental_document_name, :size=>80, :value => '' %>
          <div class='attribute_description'>
            Label used for the optional <b>Supplemental Document</b> upload item.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :supplemental_document_description, 'Description'  %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :supplemental_document_description, {:rows => 5, :cols => 80, :wrap => "virtual", :value => ''} %>
          <div class='attribute_description'>
            Descriptive text of what might be expected in the optional <b>Supplemental Document</b>.
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id='institution_tab'>
    <table>
      <tr>
        <td id="title7">
          <h3>
            <strong>OR Core Facilities</strong>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <br>
            Include
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_core_manager, 'Core Manager NetID' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_core_manager %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_cost_sharing_amount, 'Cost sharing amount' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_cost_sharing_amount %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_cost_sharing_organization, 'Cost sharing organization' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_cost_sharing_organization %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_received_previous_support, 'Did this research receive Office of Research support in the past 2 years?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_received_previous_support %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_previous_support_description, 'Description of support:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_previous_support_description %>
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented">
          <%= f.label :show_committee_review_approval, 'Did this research receive approval of review committee for this request?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_committee_review_approval %>
          </div>
        </td>
      </tr>
      <tr>
        <td id="title8">
          <h3>
            <strong>CTI and NMF</strong>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <br>
            Include
          </div>
        </td>        
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_human_subjects_research, 'Is this human subjects research?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_human_subjects_research %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :human_subjects_research_text, 'Help text for human subjects research question:' %>
        </td>
        <td class="notes" colspan="2">

<!--           <div class='attribute_description'>
            <%= f.check_box :show_irb_approved %>
            Text will read: If you received prior support, please indicate when the award(s) was made and how much money was awarded for each item. Be specific.
          </div> -->

          <%= f.text_area :human_subjects_research_text, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
<!--           <div class='attribute_description'>
            Text to include with the <b>human subjects research</b> submission form item
          </div> -->

        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_irb_approved, 'Is this research IRB approved?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_irb_approved %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_irb_study_num, 'IRB study number:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_irb_study_num %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_use_stem_cells, 'Will this research user stem cells?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_stem_cells %>
            Text will read: "Please check if this study will involve the collection, derivation or use of human stem cells."
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_use_embryonic_stem_cells, 'Will this research user embryonic stem cells?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_embryonic_stem_cells %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_use_vertebrate_animals, 'Will this research use vertebrate animals?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_vertebrate_animals %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_iacuc_approved, 'Is this research IACUC approved?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_iacuc_approved %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_iacuc_study_num, 'IACUC study number:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_iacuc_study_num %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_not_new_explanation, 'If this is not new work, please explain:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_not_new_explanation %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_is_conflict, 'Are there any conflicts of interest?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_is_conflict %>
          </div>
        </td>
      </tr>
      <tr class="border_bottom">
        <td class="title, indented2">
          <%= f.label :show_conflict_explanation, 'Description of conflicts of interest:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_conflict_explanation %>
          </div>
        </td>
      </tr>
      <tr>
        <td id="title8">
          <h3>
           <strong>Northwestern-specific</strong>
          </h3>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <br>
            Include
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented">
          <%= f.label :show_use_nucats_cru, 'Will this research use the NUCATS Clinical Research Unit (CRU)?' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_nucats_cru %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_nucats_cru_contact_name, 'Name of NUCATS CRU contact:' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_nucats_cru_contact_name %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="title, indented">
          <label>
            Will this study require use of facilities, staff, or patients at any of the following institutions? If so, check all that apply:
          </label>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_use_nmh, 'NMH' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_nmh %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_use_nmff, 'NMFF' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_nmff %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_use_va, 'VA' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_va %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_use_ric, 'RIC' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_ric %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title, indented2">
          <%= f.label :show_use_cmh, 'CMH' %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_use_cmh %>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id='review_tab'>
    <table>
      <tr>
        <td id="title10" colspan="3">
          <strong>Review form / summary access</strong>
        </td>
      </tr>
      <tr>
        <td id="title9" colspan="3">
          <strong>Reviewer limits</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :max_assigned_reviewers_per_proposal %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :max_assigned_reviewers_per_proposal, :size=>15 %>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :max_assigned_proposals_per_reviewer %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :max_assigned_proposals_per_reviewer, :size=>15 %>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_composite_scores_to_applicants %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_composite_scores_to_applicants %>
            Check to allow applicants to see the review composite scores
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_composite_scores_to_reviewers %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_composite_scores_to_reviewers %>
            Check to allow reviewers to see other reviewers composite scores
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_review_summaries_to_applicants %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_review_summaries_to_applicants %>
            Check to allow applicants to see the review write-up
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_review_summaries_to_reviewers %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_review_summaries_to_reviewers %>
            Check to allow reviewers to see other reviewers' write-ups
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_review_scores_to_reviewers %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_review_scores_to_reviewers %>
            Check to allow reviewers to see other reviewers' scores
          </div>
        </td>
      </tr>
      <tr>
        <td id="title11" colspan="3">
          <strong>Review Form Information</strong>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :show_review_guidance %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :show_review_guidance %>
            Default is set to 'true', but if for some reason
            the review guidance directions should be hidden
            uncheck this.
            <br />
            By doing so the Review Guidance URL will not be shown.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :custom_review_guidance %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :custom_review_guidance, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Add alternate or additional review guidance text 
            placed at the top of the review form here. 
            <br />
            You may enter html markup in this section.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :comment_review_only %>
        </td>
        <td class="notes" colspan="2">
          <div class='attribute_description'>
            <%= f.check_box :comment_review_only %>
            If you would like to only have review comments and 
            no scoring, check this box. 
            <br />
            All scoring fields will be hidden.
            Default is set to 'false'.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :review_guidance_url %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :review_guidance_url, :size=>80 %>
          <div class='attribute_description'>
            URL to additional guidance to reviewers.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :overall_impact_title %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_field :overall_impact_title, :size=>80 %>
          <div class='attribute_description'>
            Title for "Overall Impact" score item.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :overall_impact_description %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :overall_impact_description, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Short guidance for how to fill in "Overall Impact". You can include HTML formatting.
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">
          <%= f.label :overall_impact_direction %>
        </td>
        <td class="notes" colspan="2">
          <%= f.text_area :overall_impact_direction, {:rows => 3, :cols => 80, :wrap => "virtual"} %>
          <div class='attribute_description'>
            Short additional guidance to the left of the "Overall Impact" text box. You can include HTML formatting.
          </div>
        </td>
      </tr>
      <tr>
        <th id="title12">
          Criterion
        </th>
        <th id="title13" colspan="2">
          Criterion Description
        </th>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_impact_score %><%= f.text_field :impact_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :impact_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_team_score %><%= f.text_field :team_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :team_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_innovation_score %><%= f.text_field :innovation_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :innovation_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_scope_score %><%= f.text_field :scope_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :scope_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_environment_score %><%= f.text_field :environment_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :environment_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_budget_score %><%= f.text_field :budget_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :budget_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_other_score %><%= f.text_field :other_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :other_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.check_box :show_completion_score %><%= f.text_field :completion_title, :size => 40 %>
        </td>
        <td>
          <%= f.text_area :completion_wording, {:rows => 5, :cols => 80, :wrap => "virtual"} %>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  jQuery(function() {
    jQuery( "#tabs" ).tabs();
  });
</script>
