<h1>Editing '<%= @project.project_title %>'</h1>

<%= form_for(@project) do |f| %>
  <%= f.error_messages %>

	<%= render(:partial => 'project_form', :locals => { :f => f, :project => @project }) %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'View', project_path(@project.id) %> |
<%= link_to 'List of all competitions', projects_path %>