<% provide(:title_tag, 'Create a New Project') %>
<h2>New project for <%= @program.program_name %></h2>

<%= form_for(@project) do |f| %>
  <%= render('shared/error_messages', :object => f.object) if f.object && !f.object.try(:errors).blank? %>

  <%= render(:partial => 'project_form', :locals => { :f => f, :project => @project }) %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'List of all competitions', projects_path %>

