<h1>New project</h1>

<%= form_for(@project) do |f| %>
  <%= render('shared/error_messages', :object => f.object) if f.object && !f.object.try(:errors).blank? %>

  <%= render(:partial => 'project_form', :locals => { :f => f, :project => @project }) %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'List of all competitions', projects_path %>

<script>
  jQuery('.new_project').validate();
</script>
