<% include_sponsor_and_competition = 0 unless @project.blank? %>

<div id='title'>
  <h2><%= current_program.program_title %></h2>
  <h3><%= current_project.project_title %>
</div>

<%= render 'shared/project_list',
           projects: @projects,
           show_project_link: true,
           show_action_links: true,
           show_details: true %>

<%= render 'shared/submissions_list',
           submissions: @submissions,
           title: 'Your submissions and those you are associated with for this competition',
           include_sponsor_and_competition: include_sponsor_and_competition %>

<%= render('reviewers/submission_review_table',
           :submission_reviews => @assigned_submission_reviews,
           :title => NucatsAssist.assigned_reviews_title,
           :table_id => 'assigned_submission_reviews',
           :include_files => false,
           :speed_display => false) %>

<%= render 'shared/admin_links', program: @project.program %>
