<%- provide(:title_tag, 'Log In') -%>
<h2>
  <%= t('devise.login_message') %>
</h2>
<hr/>
<div class="alert">
  <h3>We recently changed our log in process</h3>
  <h4>
    NU and Affiliate Users Log in below using your NetID.
  </h4>

  <h4>
    Logged in using Google, Facebook, Twitter or LinkedIn? Please <%= link_to('set a new password', new_external_user_password_path) %>.
  </h4>
</div>

<%= form_for(resource, as: 'user', url: create_session_path) do |f| %>
  <div id="login_fields">
    <div>
      <%= f.label :username, "NU NetID or<br/>External email".html_safe %>
      <%= f.text_field :username, size: 30, autofocus: true, placeholder: 'NU NetID or External email address' %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, size: 30, autocomplete: "off" %>
    </div>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

