
<h2>
  Applicant: <%= submission.applicant.long_name %>
</h2>
<div class="indented">
  <table>
    <tr>
      <td>Project:</td>
      <td><%= submission.submission_title %></td>
    </tr>
    <% if submission.project.show_submission_category -%>
      <tr>
        <td><%= submission.project.category_wording %>:</td>
        <td><%= submission.submission_category %></td>
      </tr>
    <% end %>
    <tr>
      <td>Competition:</td>
      <td><%= submission.project.project_title %></td>
    </tr>
    <tr>
      <td>Sponsor:</td>
      <td><%= submission.project.program.program_title %></td>
    </tr>
    <tr>
      <td>Submission deadline:</td>
      <td><%= submission.project.submission_close_date %></td>
    </tr>
    <tr>
      <td>Application status:</td>
      <td><%= submission.status %></td>
    </tr>
    <tr>
      <td>Submission created at:</td>
      <td><%= submission.project.created_at.to_date %></td>
    </tr>
    <tr>
      <td>Submitter:</td>
      <td><%= submission.submitter.try(:name).to_s %></td>
    </tr>
  </table>
</div>

<% reviewer_ids = submission.project.submissions.map { |s| s.submission_reviews.map(&:reviewer_id) }.flatten.uniq %>

<% if submission.project.show_review_summaries_to_applicants ||
      is_admin? ||
      (submission.project.show_review_summaries_to_reviewers && reviewer_ids.include?(current_user_session.id) ) %>
  <h1>Application reviews </h1>

  <div id="scores">
    <ol>
      <% submission.project.review_criteria.each do |criterion| %>
        <li> <%= submission.project.send("#{criterion}_title".to_sym) %>. </li>
        <%= review_comments_div(reviews, criterion).html_safe %>
      <% end %>
    </ol>
    <h3>Overall review comments</h3>
    <%= review_comments_div(reviews, 'overall').html_safe %>
  </div>
<% end %>

<% if submission.project.show_composite_scores_to_applicants ||
      is_admin? ||
      (submission.project.show_composite_scores_to_reviewers && reviewer_ids.include?(current_user_session.id) ) %>
  <h3>Application scores </h3>
  <div id="composite_scores">
    <ul>
      <li> Composite score: <%= submission.composite_score_string %>  </li>
      <li> Overall score: <%= submission.overall_score_string %></li>
    </ul>
  </div>
<% end %>
<div class="final_line">&nbsp;</div>
