<h3>
  Applicant: <%= submission.applicant.long_name %>
</h3>
<div class="indented">
  <table>
    <tr class="indented">
      <td>Project:</td>
      <td><%= submission.submission_title %></td>
    </tr>
    <% if submission.project.show_submission_category -%>
      <tr class="indented">
        <td><%= submission.project.category_wording %>:</td>
        <td><%= submission.submission_category %></td>
      </tr>
    <% end %>
    <tr class="indented">
      <td>Competition:</td>
      <td><%= submission.project.project_title %></td>
    </tr>
    <tr class="indented">
      <td>Sponsor:</td>
      <td><%= submission.project.program.program_title %></td>
    </tr>
    <tr class="indented">
      <td>Submission deadline:</td>
      <td><%= submission.project.submission_close_date %></td>
    </tr>
    <tr class="indented">
      <td>Application status:</td>
      <td><%= submission.status %></td>
    </tr>
    <tr class="indented">
      <td>Submission created at:</td>
      <td><%= submission.project.created_at.to_date %></td>
    </tr>
    <tr class="indented">
      <td>Submitter:</td>
      <td><%= submission.submitter.try(:name).to_s %></td>
    </tr>
  </table>
</div>

<% reviewer_ids = submission.project.submissions.map { |s| s.submission_reviews.map(&:reviewer_id) }.flatten.uniq %>

<% if submission.project.show_review_summaries_to_applicants ||
      is_admin? ||
      (submission.project.show_review_summaries_to_reviewers && reviewer_ids.include?(current_user_session.id) ) %>
  <h3>Criteria</h3>

  <div id="scores">
    <ol>
      <% if submission.project.show_impact_score %>
        <li> <%= submission.project.impact_title %>. </li>
        <%= review_comments_div(reviews, 'impact').html_safe %>
      <% end %>

      <% if submission.project.show_team_score %>
        <li> <%= submission.project.team_title %>. </li>
        <%= review_comments_div(reviews, 'team').html_safe %>
      <% end %>

      <% if submission.project.show_innovation_score %>
        <li> <%= submission.project.innovation_title %>. </li>
        <%= review_comments_div(reviews, 'innovation').html_safe %>
      <% end %>

      <% if submission.project.show_scope_score %>
        <li> <%= submission.project.scope_title %>. </li>
        <%= review_comments_div(reviews, 'scope').html_safe %>
      <% end %>

      <% if submission.project.show_environment_score %>
        <li> <%= submission.project.environment_title %>. </li>
        <%= review_comments_div(reviews, 'environment').html_safe %>
      <% end %>

      <% if submission.project.show_budget_score %>
        <li> <%= submission.project.budget_title %>. </li>
        <%= review_comments_div(reviews, 'budget').html_safe %>
      <% end %>

      <% if submission.project.show_other_score %>
        <li> <%= submission.project.other_title %>. </li>
        <%= review_comments_div(reviews, 'other').html_safe %>
      <% end %>

      <% if submission.project.show_completion_score %>
        <li> <%= submission.project.completion_title %>. </li>
        <%= review_comments_div(reviews, 'completion').html_safe %>
      <% end %>
    </ol>
    <h3>Comments</h3>
    <%= review_comments_div(reviews, 'overall').html_safe %>
  </div>
<% end %>

<% if submission.project.show_composite_scores_to_applicants ||
      is_admin? ||
      (submission.project.show_composite_scores_to_reviewers && reviewer_ids.include?(current_user_session.id) ) %>
  <h3>Scores</h3>
  <div class = "bottom_border" id="composite_scores">
    <ul>
      <% unless submission.composite_scores.blank? || submission.composite_scores.to_s == '0' %>
        <li> Composite score: <%= submission.composite_scores %>  </li>
      <% end %>
      <li> Overall score: <%= submission.overall_scores %></li>
    </ul>
  </div>
<% end %>
<div class="final_line">&nbsp;</div>
