<!DOCTYPE html>
%html
  %head
    %meta{:'http-equiv'=>'X-UA-Compatible', :content=>'IE=edge'}
    = csrf_meta_tag
    %title 
      NITRO Competitions
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'screen, projection'
    = stylesheet_link_tag 'application-print', media: 'print'

    %link{rel: 'shortcut icon', href: image_path('favicon.ico')}
    %script{type: 'text/javascript'}
      jQuery.noConflict(); var $j = jQuery;

  %body{class: "#{Rails.env}_background"}
    - unless notice.blank?
      .notice
        = notice.html_safe
    - unless alert.blank?
      .alert
        = alert.html_safe
    .wrapper
      = render 'shared/navigation'
      #content
        = yield
    .pushit
      = render 'shared/footer'
