<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NUCATS Assist: <%= controller.action_name %></title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= render "shared/menu_scripts" %>

    <link rel="shortcut icon" href='<%= image_path("favicon.ico") -%>' />
    <style type="text/css">
      #search {
        background: url(<%= image_path("titlebar.jpg") %>) ;
      }
    </style>
    <script type="text/javascript">
      jQuery.noConflict();
      var $j = jQuery;
    </script>
  </head>
  <body>
    <%= render "shared/js_warning" %>
    <%= render "shared/debug_info" %>
    <div id="main" class="autoclear">
      <div id="app_title">
        NUCATS Competition and Awards Application Site
      </div>
      <%= render "shared/banner" %>
      <div id="title">
        <%= current_program.program_title %> - <%= current_project.project_title %>
      </div>
      <div id="test" class="notice">
        <%= flash[:notice] %>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
    <div id="footer-row">
      <%= link_to(image_tag( 'nubic-logo.gif', :size => "167x55" ),
                  "http://www.nucats.northwestern.edu/centers/nubic/index.html") %>
      <%= link_to(image_tag("pageheader.jpg",
                            options={:alt=>"The Northwestern University Clinical and Translational Sciences Institute"} ),
                  "http://www.nucats.northwestern.edu") %>
      If you have comments, issues, critiques,
      <a href='mailto:nucatsassist@nubic.northwestern.edu'>please send us an email!</a>
    </div>
  </body>
</html>
