<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>NUCATS Assist: <%= controller.action_name %></title>
	<link rel="shortcut icon" href="<%= image_path('favicon.ico') -%>" type="image/x-icon">
	<style type="text/css">
	#search {
	  	background: url(<%= image_path("titlebar.jpg") %>) ;
	}
	</style>

  <%= javascript_include_tag 'amstock' %>
  <%= stylesheet_link_tag 'amcharts' %>

</head>
<body>
<div id="content">
<%= yield %>
</div>
</body>
</html>
