<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>NUCATS Assist: <%= controller.action_name %></title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="shortcut icon" href='<%= image_path("favicon.ico") -%>' />
    <style type="text/css">
      #search {
        background: url(<%= image_path("titlebar.jpg") %>) ;
      }
    </style>
  </head>
  <body>
    <%= render "shared/js_warning" %>
    <%= render "shared/debug_info" %>
    <div id="main" class="autoclear">
      <%= render "shared/banner", show_title: false %>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
